APP_NAME=bankcards-app

# Postgres datasource config
POSTGRES_DB=bankcards
POSTGRES_USER=bankcards_user
POSTGRES_PASSWORD=bankcards_password

# Signing and encryption keys for JWT tokens generation (JWK format)
# Generate your own keys for production use: https://mkjwk.org/
ACCESS_TOKEN_JWK={"kty":"oct","use":"sig","k":"aLg8yAnV402iQeFaWmB-7Rf0KAmr8WDS924p953wOEUfu57E1fAehdxByakf5zJ5G6jwYTlYC2gLJ-bNpnQoI6XNUVwdOOm7eA9228m_Offhe0hacU12VZleKpLSzSE8nEJBTneSqrb7so6xjo2iQbp6f7pQTHkIHrgbT9pjpGItkspDss871Nnw_N9XmGGSXIQjJsL50v4uqUN-rlcW03i-JUoR3fYf964vXNqcTA9f1ix412EPBuriJxQT5f1R2MEtjBQNh70XiCsxLrC2DewzzCM8AjoeAQfB3UGka8-DEIpPbODxGtwZCFNkBC18wnn-Hj5s9d03uFVkoYIoFA","alg":"HS256"}
# Refresh Token JWK must be generated with the following params:
# - Key Size  = 128/192/256 (256 recommended)
# - Key Use   = Encryption
# - Algorithm = A128GCMKW
REFRESH_TOKEN_JWK={"kty":"oct","use":"enc","k":"eCcADY8Hui1bfB6Iu_lbfoffOV_RzwLHUJdaOiWtsJ0","alg":"A128GCMKW"}

# Tokens expiration settings
ACCESS_TOKEN_EXPIRATION=5m
REFRESH_TOKEN_EXPIRATION=90d

# AES encryption key in Base64 format
AES_KEY_BASE64=CRS2mU16EzKZl3pcH+99LTGvUEsCC+otsUNLhh2XduU=

# Development settings
LOG_LEVEL=DEBUG
SWAGGER_ENABLED=true