APP_NAME=bankcards-app

# Postgres datasource config
POSTGRES_DB=bankcards
POSTGRES_USER=bankcards_user
POSTGRES_PASSWORD=bankcards_password

# Signing and encryption keys for JWT tokens generation (JWK format)
# Generate your own keys for production use: https://mkjwk.org/
ACCESS_TOKEN_JWK={"kty":"oct","use":"sig","k":"aLg8yAnV402iQeFaWmB-7Rf0KAmr8WDS924p953wOEUfu57E1fAehdxByakf5zJ5G6jwYTlYC2gLJ-bNpnQoI6XNUVwdOOm7eA9228m_Offhe0hacU12VZleKpLSzSE8nEJBTneSqrb7so6xjo2iQbp6f7pQTHkIHrgbT9pjpGItkspDss871Nnw_N9XmGGSXIQjJsL50v4uqUN-rlcW03i-JUoR3fYf964vXNqcTA9f1ix412EPBuriJxQT5f1R2MEtjBQNh70XiCsxLrC2DewzzCM8AjoeAQfB3UGka8-DEIpPbODxGtwZCFNkBC18wnn-Hj5s9d03uFVkoYIoFA","alg":"HS256"}
REFRESH_TOKEN_JWK={"kty":"oct","use":"enc","k":"4phniZaIl5msrj8EXXC1AlR4xFeSUCcc-BIUxMjnTkW2ZSg8p2BMoYbbbWwj6G_JfcFbBiJgBNqB0iPujDJTZabDDkKGCIGhn5EruJrrvv3WiTMuYDVWVeC7XQ_yq3N-52qZqko8Jk701Go_hNJYk5NlZzzrKrKljwGieMYohLF1ObcckeSb3_HP0O13psareqWp9SdcR0SFLiJmRMLCFOVqYGsQ7yF5fBtVWWI33oxjM5C7bOtkCKwaC9gPM_5PzaorZ6GEa9cqwLb6jPTa-6jiu8u0Ej1lGJvzW-RPMOQYYxZaLfZbHW6AFEfquam5I4s0cITTbdZ5BUz7dDcwpQ","alg":"A256GCMKW"}

# Tokens expiration settings
ACCESS_TOKEN_EXPIRATION=5m
REFRESH_TOKEN_EXPIRATION=90d

# AES encryption key in Base64 format
AES_KEY_BASE64=CRS2mU16EzKZl3pcH+99LTGvUEsCC+otsUNLhh2XduU=

# Development settings
LOG_LEVEL=DEBUG
SWAGGER_ENABLED=true